<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_arm">

  <!-- 1) 공통 코어(링크/조인트/관성/충돌/시각화) -->
  <xacro:include filename="$(find simple_arm_description)/urdf/simple_arm_core.urdf.xacro" />

  <!-- 2) Gazebo용 ros2_control 정의 -->
  <xacro:include filename="$(find simple_arm_description)/urdf/simple_arm_gazebo.ros2_control.xacro" />
  <xacro:simple_arm_gazebo_ros2_control name="GazeboSystem"/>

  <!-- 3) Gazebo Classic에서 controller_manager를 띄우는 플러그인 -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">

      <parameters>$(find simple_arm_description)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>